// colors/themes

$primary-color: #274B5A;
$secondary-color: rgb(236, 172, 54);

$gray-1: rgb(227, 233, 234);
$gray-2: rgb(207, 217, 219);
$gray-3: rgb(169, 188, 192);
$gray-4: rgb(64, 77, 83);

$primary-text: rgb(62, 74, 85);


// alert colors
$alert-success: rgb(122, 209, 184);
$alert-warning: rgb(246, 176, 130);
$alert-error: rgb(239, 128, 128);
